{% extends "Base.html" %} {% load staticfiles %}{% block title %}Login
{%endblock %} {% block nav %}
<ul class="d-flex flex-row align-items-start justify-content-start">
  <li><a href="/">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="logout">Logout</a></li>
  {% else %}
  <li class="active"><a href="register">Regsiter</a></li>
  <li><a href="login">Login</a></li>
  {% endif %}
  <li><a href="contact.html">Contact</a></li>
  <li><a href="/blogindex.html">Stories</a></li>
</ul>
{% endblock %} {% block without_container %}
<div style="text-align : center;">
  <form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="First Name" /> <br />
    <br />
    <input type="text" name="last_name" placeholder="Last Name" /> <br />
    <br />
    <input type="text" name="username" placeholder="User Name" /> <br />
    <br />
    <input type="email" name="email" placeholder="Email" /> <br />
    <br />
    <input
      type="password"
      name="password1"
      placeholder="Enter Password"
    /><br />
    <br />
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
    /><br />
    <br />
    <input type="Submit" />
  </form>
</div>
<div>
  {% for message in messages %}
  <h3>
    {{message}}
  </h3>
  {% endfor %}
</div>
{% endblock %}
